*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
form{
  border: solid;
  /* width: 100%; */
  width: 50%;
  height: 90vh;
  padding: 20px;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  /* display:table-column; */
}

form label{
  display: block;
  font-size: 20px;
  font-weight: 500;
  /* font-style: italic; */
  margin-bottom: 10px;

}

form input,
form textarea,
form button{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px ;
  
}

form button{
  width:50%;
  background-color: #4CAF50;
  color: white;
}

form aside > [type="radio"]{
  width: 20px;
  height: 20px;
  font-size: 20px;;
}